
body {
    font-family: sans-serif, Helvetica, sans-serif;
    background: url("../images/vintage_speckles_@2X.png") repeat;
    background-size: 400px 300px;
}

header {
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}
#header-container {
    width: 960px;
    margin: auto;
    
}
#name {
    float: left;
    font-size: 30px;
    font-family: 'Song Myung', serif;
    line-height: 60px;
    padding: 0 20px;
    color: white;
    background-color: #4AAAA5;

    
}

#nav {
    float: right;
    padding: 20px 0;
    
}

#nav a {
    line-height: 20px;
    padding: 0 10px;
    text-decoration: none;
    color: grey;
}

#nav a:last-child {
    padding-right: 0;
}

#nav a:first-child, #nav a:nth-child(2) {
    border-right: 1px solid rgb(243, 243, 243);
}

section {
    width: 960px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgb(206, 206, 206);
    
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

h2 {
    font-size: 30px;
    padding: 15px 0 15px 0;
    border-bottom: 2px solid rgb(184, 184, 184);
    margin-bottom: 25px;
    font-family: 'Song Myung', serif;
    color: #4AAAA5;

}

p {
    font-family: sans-serif, Helvetica, sans-serif;
    line-height: 30px;
    margin-bottom: 20px;
    color: grey;
}

img {
    width: 200px;
    height: 222px;
    float: left;
    margin-right: 25px;
    
}


footer{
    width: 100%;
    height:50px;   /* footer has a fixed height*/ 
    border-top: 10px solid #4AAAA5;
    position:absolute;
    bottom:0px;
    left:0px;
    background: #666666;
    box-sizing: border-box;
    text-align: center;
    padding-top: 20px;
    font-size: 13px;
    color: white;
    
}

